ASPDNSFGateways/Service References/SecureNetDataAPIv411/SERVICE.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://gateway.securenet.com/API/Contracts" elementFormDefault="qualified" targetNamespace="http://gateway.securenet.com/API/Contracts" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="PLAN_AB">
    <xs:sequence>
      <xs:element minOccurs="0" name="ACTIVE" type="xs:int" />
      <xs:element minOccurs="0" name="CUSTOMERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ENDDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSTALLMENT" nillable="true" type="tns:INSTALLMENT" />
      <xs:element minOccurs="0" name="MAXRETRIES" type="xs:int" />
      <xs:element minOccurs="0" name="MERCHANT_KEY" nillable="true" type="tns:MERCHANT_KEY" />
      <xs:element minOccurs="0" name="NEXTPAYMENT_DATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOTES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAYMENTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAYMENTID2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLANID" type="xs:int" />
      <xs:element minOccurs="0" name="RECURRING" nillable="true" type="tns:RECURRING" />
      <xs:element minOccurs="0" name="SCHEDULE" nillable="true" type="tns:ArrayOfPAYMENT_AB" />
      <xs:element minOccurs="0" name="STARTDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TYPE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PLAN_AB" nillable="true" type="tns:PLAN_AB" />
  <xs:complexType name="INSTALLMENT">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OPTIONS">
        <xs:sequence>
          <xs:element minOccurs="0" name="AMOUNT" type="xs:decimal" />
          <xs:element minOccurs="0" name="AUTOCALC_OPTION" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="BALLOON_AMOUNT" type="xs:decimal" />
          <xs:element minOccurs="0" name="BALLOON_OPTION" type="xs:int" />
          <xs:element minOccurs="0" name="COUNT" type="xs:int" />
          <xs:element minOccurs="0" name="REMAINDER_OPTION" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="INSTALLMENT" nillable="true" type="tns:INSTALLMENT" />
  <xs:complexType name="OPTIONS">
    <xs:sequence>
      <xs:element minOccurs="0" name="CYCLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DAY" type="xs:int" />
      <xs:element minOccurs="0" name="FREQUENCY" type="xs:int" />
      <xs:element minOccurs="0" name="MONTH" type="xs:int" />
      <xs:element minOccurs="0" name="WEEKDAY" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OPTIONS" nillable="true" type="tns:OPTIONS" />
  <xs:complexType name="MERCHANT_KEY">
    <xs:sequence>
      <xs:element name="GROUPID" type="xs:int" />
      <xs:element minOccurs="0" name="SECUREKEY" nillable="true" type="xs:string" />
      <xs:element name="SECURENETID" type="xs:int" />
      <xs:element minOccurs="0" name="ADDITIONALINFO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MERCHANT_KEY" nillable="true" type="tns:MERCHANT_KEY" />
  <xs:complexType name="RECURRING">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:OPTIONS">
        <xs:sequence>
          <xs:element minOccurs="0" name="AMOUNT" type="xs:decimal" />
          <xs:element minOccurs="0" name="NOEND_FLAG" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RECURRING" nillable="true" type="tns:RECURRING" />
  <xs:complexType name="ArrayOfPAYMENT_AB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PAYMENT_AB" nillable="true" type="tns:PAYMENT_AB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPAYMENT_AB" nillable="true" type="tns:ArrayOfPAYMENT_AB" />
  <xs:complexType name="PAYMENT_AB">
    <xs:sequence>
      <xs:element minOccurs="0" name="AMOUNT" type="xs:decimal" />
      <xs:element minOccurs="0" name="INSTALLMENTDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="INSTALLMENTNUM" type="xs:int" />
      <xs:element minOccurs="0" name="NUMOFRETRIES" type="xs:int" />
      <xs:element minOccurs="0" name="PAID" type="xs:int" />
      <xs:element minOccurs="0" name="PAYMENTDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAYMENTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PLANID" type="xs:int" />
      <xs:element minOccurs="0" name="PROCESSED" type="xs:int" />
      <xs:element minOccurs="0" name="SCHEDULEID" type="xs:int" />
      <xs:element minOccurs="0" name="TRANSACTIONID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PAYMENT_AB" nillable="true" type="tns:PAYMENT_AB" />
  <xs:complexType name="ArrayOfPLAN_AB">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PLAN_AB" nillable="true" type="tns:PLAN_AB" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPLAN_AB" nillable="true" type="tns:ArrayOfPLAN_AB" />
  <xs:complexType name="CUSTOMER_VAULT">
    <xs:sequence>
      <xs:element name="CSDI" type="xs:int" />
      <xs:element minOccurs="0" name="CUSTOMERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUSTOMER_BILL" nillable="true" type="tns:CUSTOMER_BILL" />
      <xs:element minOccurs="0" name="NOTES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERDEFINED" nillable="true" type="tns:USERDEFINED" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CUSTOMER_VAULT" nillable="true" type="tns:CUSTOMER_VAULT" />
  <xs:complexType name="CUSTOMER_BILL">
    <xs:sequence>
      <xs:element minOccurs="0" name="ADDRESS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CITY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COMPANY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COUNTRY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMAILRECEIPT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FIRSTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LASTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PHONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZIP" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CUSTOMER_BILL" nillable="true" type="tns:CUSTOMER_BILL" />
  <xs:complexType name="USERDEFINED">
    <xs:sequence>
      <xs:element minOccurs="0" name="UD1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD11" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD12" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD13" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD14" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD15" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD16" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD17" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD18" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD19" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD20" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD21" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD22" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD23" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD24" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD25" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD26" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD27" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD28" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD29" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD30" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD31" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD32" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD33" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD34" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD35" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD36" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD37" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD38" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD39" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD4" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD40" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD41" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD42" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD43" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD44" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD45" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD46" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD47" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD48" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD49" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD50" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD6" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD7" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD8" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UD9" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="USERDEFINED" nillable="true" type="tns:USERDEFINED" />
  <xs:complexType name="ArrayOfACCOUNT_VAULT">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ACCOUNT_VAULT" nillable="true" type="tns:ACCOUNT_VAULT" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfACCOUNT_VAULT" nillable="true" type="tns:ArrayOfACCOUNT_VAULT" />
  <xs:complexType name="ACCOUNT_VAULT">
    <xs:sequence>
      <xs:element name="ACDI" type="xs:int" />
      <xs:element minOccurs="0" name="CARD" nillable="true" type="tns:CARD" />
      <xs:element minOccurs="0" name="CHECK" nillable="true" type="tns:CHECK" />
      <xs:element minOccurs="0" name="CUSTOMERID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CUSTOMER_BILL" nillable="true" type="tns:CUSTOMER_BILL" />
      <xs:element minOccurs="0" name="METHOD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOTES" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PAYMENTID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PRIMARY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="USERDEFINED" nillable="true" type="tns:USERDEFINED" />
      <xs:element minOccurs="0" name="CARDTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LASTACCESSDATE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ACCOUNT_VAULT" nillable="true" type="tns:ACCOUNT_VAULT" />
  <xs:complexType name="CARD">
    <xs:sequence>
      <xs:element minOccurs="0" name="CARDCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CARDNUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXPDATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KSN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PINBLOCK" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TRACKDATA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ADDITIONALINFO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CARD" nillable="true" type="tns:CARD" />
  <xs:complexType name="CHECK">
    <xs:sequence>
      <xs:element minOccurs="0" name="ABACODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ACCOUNTNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ACCOUNTNUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ACCOUNTTYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BANKNAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CHECKNUM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MICRDATA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SECCODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ADDITIONALINFO" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CHECK" nillable="true" type="tns:CHECK" />
  <xs:complexType name="P2PREQUEST">
    <xs:sequence>
      <xs:element minOccurs="0" name="MERCHANT_KEY" nillable="true" type="tns:MERCHANT_KEY" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="P2PREQUEST" nillable="true" type="tns:P2PREQUEST" />
  <xs:complexType name="P2PRESPONSE">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:RESPONSE">
        <xs:sequence>
          <xs:element minOccurs="0" name="CONFIRMCODE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CONFIRMNUMBER" type="xs:long" />
          <xs:element minOccurs="0" name="EXPDATE" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="KEY" nillable="true" type="tns:P2P_PUBLIC_KEY" />
          <xs:element minOccurs="0" name="KEYID" type="xs:int" />
          <xs:element minOccurs="0" name="STATUS" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="P2PRESPONSE" nillable="true" type="tns:P2PRESPONSE" />
  <xs:complexType name="RESPONSE">
    <xs:sequence>
      <xs:element minOccurs="0" name="RESPONSE_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESPONSE_REASON_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESPONSE_REASON_TEXT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RESPONSE_SUBCODE" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RESPONSE" nillable="true" type="tns:RESPONSE" />
  <xs:complexType name="P2P_PUBLIC_KEY">
    <xs:sequence>
      <xs:element minOccurs="0" name="EXPONENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODULUS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="P2P_PUBLIC_KEY" nillable="true" type="tns:P2P_PUBLIC_KEY" />
  <xs:complexType name="P2PCONFIRMREQUEST">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:P2PREQUEST">
        <xs:sequence>
          <xs:element minOccurs="0" name="ENCRYPTED_STRING" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="KEYID" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="P2PCONFIRMREQUEST" nillable="true" type="tns:P2PCONFIRMREQUEST" />
</xs:schema>